body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/image5.jpg);
   
    
}
.container{
    height:400px;
    width:850px;
    margin-top:200px ;
    margin-left:15px;
}
h1{
    font-size: 55px;
    font-weight: 700;
    color: #1b2232;
}
p{
    padding-top:45px;
    padding-right:250px;
    color:#6f6f6f;
}
button{
    margin-top:40px;
    background-color: #4eaf4e;
    width:170px;
    height:50px;
    cursor: pointer;
    color:white;
    font-size: 15px;
    border:none;
    border-radius: 4px;
    font-weight: bold;
}