body{
    font-family: Madefor,Helvetica Neue,Helvetica,Arial,メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
    color: #20303c;
}
#toolbar{
    position: fixed;
    background-color: white;
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
  
    width:100%;
 
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}
.toolbar-content{
    display:flex;
    justify-content:space-between;
}
.toolbar-content-view{
    display:flex;
    justify-content:center;
}

.toolbar-title {
    display:flex;
    align-items: baseline;
    color: #3a4f61;
    font-size:17px;
    padding-right:15px;
}
.toolbar-title a{
    color: #20303c;
    font-size:14px;
    padding-right:30px;
}
.toolbar-title p{
    padding-right:20px;
}
button{
   
    width: 150px;
    background-color: #116dff;
    padding: 0 27px;
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
    cursor: pointer;
    text-align: center;
    border:none;
    padding-right:25px;
}
.toolbar-title button a{
    color:white; 
   text-decoration: none;
   font-size: 14px;
  
}
.navbar{
    padding-top:120px;
}

.navbar-nav ul  {
    transition:   all .2s ease;
    display:flex;
    justify-content:center;
    padding-left:350px;
}
.navbar-nav ul li a:hover{
   color:rgb(98, 186, 245);
}
.navbar-nav ul li a{
    text-decoration: none;
    color:rgb(43, 40, 40); 
    font-size: 13px;
    padding-right:40px;

}
.main{
    margin:50px;
    margin-top:25px;
    display:flex;
    justify-content: space-between;
    
    
}

.main-info h2{
    font-size:40px;
    background-color: white;
    color:inherit;
    font-weight:bold;
    

}
.main-info h1{
    font-size:70px;
    background-color: white;
    color:inherit;
    font-weight:bold;
  
    

}