
 body{
    margin:0px;
    padding:0px;
    font-family:system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
} 
/* Home Section Style Starts*/
#home{
    background-image:url(../images/slide-03.jpg);
    object-fit:cover;
    background-position: 80% center;
}
#navbar{
    height:80px;
    
 

}
.navbar-nav{
    margin:0 80px; 
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
    

}
.phone-text{
    color:#fff;
    text-decoration:none;
}
.navbar-menu ul{
    display:flex;
    justify-content:space-between;
}
.navbar-menu ul li a{
    text-decoration:none;
    margin:20px;
    color:#fff;
    background: transparent;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.navbar-menu ul li a:hover{
    color:#5dd39e;
    border-bottom: 3px solid #5dd39e ;
    padding:20px 0px;
}
.fas {
    float: left;
    padding-right: 10px;
    color:#5dd39e;
     font-size:20px;
}
.phone-text{
    text-decoration:none;
    color:#fff;
    background: transparent;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    transition: .3s ease-out;
}
.phone-text:hover{
    color:#5dd39e;
}

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:0 70px;
}
.container-content{
    box-sizing:border-box;
   
}

.container-content h1{
    font-size:60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    margin:30px auto;
    line-height: 1.16667;
    max-width: 480px;
}
.text-primary{
    color: #5dd39e;
}

.container-content p{
    font-size:18px;
    color: #fff;
   max-width: 450px;
   font-weight: 300;
   line-height: 1.33333;
 
  
}
.btn{
    margin:30px ;
    color: #fff;
    background-color: #5dd39e;
    border-color: #5dd39e;
    border:1px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s ease-out;
    min-width: 200px;
    border-radius: 25px;
    border-width: 2px;
    padding: 5px 25px;
    font-size: 0.875rem;
    line-height: 1.9;
}
.btn:hover{
    background-color: #20c997;
}

.form-section{
    background: #fff; 
    border-radius: 6px;
    padding: 40px 35px;
    box-shadow: 0 0 30px 10px rgb(0 0 0 / 20%);
     max-width: 41.66667%;
     box-sizing: border-box;
     height:475px;
     width:475px;
     margin-bottom: 70px;
     display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.form-section h5{
    color:#333;
    line-height: 1.2;
    font-size: 20px;
    text-align:center;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;;
    
}

.form-btn{
    margin:30px ;
    color: #fff;
    background-color: #5dd39e;
    border-color: #5dd39e;
    border:1px solid transparent;
    font-weight: 700;
    text-transform: uppercase;
    transition: .3s ease-out;
    min-width: 200px;
    border-radius: 25px;
    border-width: 2px;
    padding: 5px 25px;
    font-size: 0.875rem;
    line-height: 1.9;
    
}
.form-btn:hover{
    background-color: #20c997;
}
.form-wrap{
    position: relative;
    margin-bottom: 10px;
   
}
.form-label{
    position: absolute;
    top: 21px;
    left: 25px;
    font-size: 14px;
    color: #aaa;
    font-style: italic;
    pointer-events: none;
    z-index: 9;
    transition: .3s;
    transform: translateY(-50%);
}
.form-input{
    box-sizing: border-box;
   
    width: 100%;
    height: 40px;
    padding: 5px 25px;
    font-size: 14px;
    color: #aaa;
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #ddd;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border-radius: 6px;
    font-style: italic;
    line-height: 28px;
}
option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
/* Home Section Style Ends*/


/* About Section Style Starts*/
.main-text-content h3{
    line-height: 1.5;
    font-size: 36px;
    color:#333;
    text-align:center;
    font-weight: 600;
 
}
.main-text-content p{
    font-size: 12px;
    line-height: 1.33333;
    color:#888;
    text-align:center;
    font-weight: 300;
}
.text-content{
border-top:1px solid #eee;
padding:25px 15px;
margin:60px 60px;
box-sizing:border-box;
}
.text-content p{
    text-align: center;
    font-weight: 300;
    line-height: 1.33333;
    font-size: 18px;
    color: #333;
}
.about-images{
    display:grid;
    grid-template-columns: auto auto auto;
    height:333.5px;
   

}


.about-images-element img{
    object-fit:cover;
    width:100%;
    height:333.5px;
}
.advantages{
    padding:90px;
}
.text-primary{
    color: #5dd39e !important;
}
.advantages h3{
    line-height: 1.5;
    font-size: 36px;
    text-align:center;
    text-transform: uppercase;
    font-weight: 500;
    color:#333;
}

.about-advantages{
    margin-top:50px;
}
.advantages-elements{
    width: 100%;
    height: 103px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 17px;
    margin-bottom: 35px;
    gap:10px;
}
.advantages-element{
    display:flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.unit-left{
    margin-right:20px;
}
.unit-body h6{
    line-height: 1.33333;
    font-size: 18px;
    color:#333;
    font-weight: 400;
}
.unit-body p{
    text-align:left;
    color:#888;
    margin-top:10px;
    font-size: 12px;
    line-height: 18px;
}
.unit-body{
    width:281px;
}
.material-parallax{
    position: relative;
    z-index: 1;
    overflow: hidden;
   
}
.parallax-content{
    position:absolute;
     top: 0;
    left: -1px;
    right: -1px;
    bottom: 0; 
    z-index: 0;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.material-parallax img{

 min-width: 101%;
 max-width:101%;

}
.parallax-content h2 {
    color:#fff;
    line-height: 1.125;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 400;
    text-align:center;
}
.text-primary{
    color:#5dd39e;
}
.parallax-content p{
    color:#fff;
    margin-top: 35px;
    line-height: 1.33333;
    font-size: 18px;
    font-weight: 300;
    max-width: 41.66667%;
    text-align: center;
}
.parallax-btn{
    cursor:pointer;
    margin-top: 65px;
    background-color: transparent;
   border: 2px solid #5dd39e;
    min-width: 200px;
    border-radius: 25px;
    white-space: nowrap;
    text-align: center;
    padding: 5px 25px;
    font-size: 0.875rem;
    line-height: 1.9;
    transition: .3s ease-out;
}
.parallax-btn:hover{
    background-color: #5dd39e;

}
.parallax-btn a{
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}
/* About Section Style Ends*/


/* Products Section Style Starts*/
.products-content h3{
    line-height: 1.5;
    font-size: 36px;
    text-align:center;
    text-transform: uppercase;
    font-weight: 500;
    color:#333

}

.products-elements{
    margin-top:50px;
    margin-bottom:-30px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    margin-left:75px;
    margin-right:75px;
    box-sizing:border-box;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
}
.products-element{
    
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 30px 10px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    
    
}
.products-element img{
    object-fit: cover;
    width: 100%;
}
.products-element h6{
    text-align:left;
    padding: 15px 38px;
    color:#333;
    line-height: 1.33333;
    font-size: 18px;
}
.products-btn{
    cursor:pointer;
    margin-top: 65px;
    background-color: #5dd39e;
   border: 2px solid #5dd39e;
    min-width: 200px;
    border-radius: 25px;
    white-space: nowrap;
    text-align: center;
    padding: 5px 25px;
    font-size: 0.875rem;
    line-height: 1.9;
    transition: .3s ease-out;
   
}
.products-btn a{
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}
.button-btn{
    width:1330px;
    
    display: flex;
    justify-content: center;
}

/*Products Section Style Ends*/


/* News Section Style Starts*/
.news-content{
    margin-top:50px;
}
.news-content h3{
    line-height: 1.5;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    text-align:center;
    text-decoration: none;
}
.news-parallax{
background-image: url(../images/parallax-05.jpg);
background-position: 50%;

}
.news-parallax-elements{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    
}

.text-white{
    color: #fff;
    line-height: 1.5;
    font-size: 36px;
    font-weight: 500;
    max-width: 51.66667%;
}
.news-parallax-content p{
    line-height: 1.33333;
    font-size: 18px;
    color:#fff;
    margin-top:35px;
}
a{
    text-decoration: none;
}
.news-btn{
    cursor:pointer;
    margin-top: 65px;
    background-color: #5dd39e;
   border: 2px solid #5dd39e;
    min-width: 200px;
    border-radius: 25px;
    white-space: nowrap;
    text-align: center;
    padding: 5px 25px;
    font-size: 0.875rem;
    line-height: 1.9;
    transition: .3s ease-out;
}
.news-btn a{
    font-weight: 700;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
}

/*News Section Style Ends*/