            * {
                box-sizing: border-box;
            }
            
            body {
                color: #555555;
                font-family: "Lato", sans-serif;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0.3px;
                line-height: 1.7em;
            }
            
            #home {
                position: relative;
            }
            
            .home-container {
                background: rgba(0, 0, 0, 0) url(../images/slide_1.jpg);
                width: 100%;
                background-size: cover;
                background-color: rgba(0, 0, 0, 0);
                background-position: 50% 50%;
                background-attachment: fixed;
                height: 100%;
            }
            
            .navbar {
                width: 100%;
                text-transform: uppercase;
                height: 150px;
                background-color: transparent;
            }
            
            .top-bar {
                height: 40px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 60px;
            }
            
            .navbar-contact {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                color: #fff;
                padding-left: 50px;
            }
            
            .navbar-contact p {
                margin: 10px;
                text-transform: capitalize;
            }
            
            .navbar-contact a {
                text-decoration: none;
                color: #fff;
            }
            
            .navbar-social {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 50px;
            }
            
            .navbar-social ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            .navbar-social ul li {
                transition: all .3s esase;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border: none;
            }
            
            .navbar-social ul li:hover {
                border: 1px solid #fff;
                background-color: #fff;
                color: #ca3d26;
                cursor: pointer;
            }
            
            .navbar-social ul li a {
                text-decoration: none;
                color: #fff;
                transition: all .3s esase;
            }
            
            .navbar-social ul li a:hover {
                text-decoration: none;
                color: #ca3d26;
            }
            
            .navbar-btn {
                background: #ca3d26 none repeat scroll 0 0;
                font-size: 12px;
                font-weight: 700;
                letter-spacing: 2px;
                padding: 14px 30px;
                border: none;
                transition: all .3s ease;
                cursor: pointer;
            }
            
            .navbar-btn a {
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .3s ease;
            }
            
            .navbar-btn a:hover {
                color: #ca3d26;
                background-color: #fff;
            }
            
            .navbar-btn:hover {
                background-color: #fff;
            }
            
            .navbar-menu {
                display: flex;
                padding: 0 60px;
                align-items: center;
                margin-top: 20px;
            }
            
            .navbar-logo {
                padding-left: 50px;
            }
            
            .navbar-nav ul {
                display: flex;
                align-items: center;
                margin-left: 70px;
                padding-left: 60px;
            }
            
            .navbar-nav ul li {
                margin: 20px;
                color: #fff;
                cursor: pointer;
            }
            
            .navbar-nav ul li a {
                color: #fff;
                text-decoration: none;
                transition: all .3s ease;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
            }
            
            .navbar-nav ul li a:hover {
                color: #ca3d26;
            }
            
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 70px 0;
                margin-bottom: 50px;
            }
            
            .container-text h1 {
                font-family: "Dancing Script", cursive;
                font-size: 82px;
                text-transform: capitalize;
                color: #fff;
            }
            
            .container-text {
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin: 50px 0px;
            }
            
            .container-content h1 {
                font-size: 60px;
                font-weight: 300;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #fff;
            }
            
            .bold-text {
                font-weight: 700;
            }
            
            .container-btn a {
                color: #fff;
                display: inline-block;
                font-size: 13px;
                padding: 10px 30px;
                text-decoration: none;
                transition: all .3s ease;
            }
            
            .container-btn {
                border: 1px solid #fff;
                background: transparent;
                margin-top: 50px;
                transition: all .3s ease;
                padding: 5px 5px;
            }
            
            .container-btn:hover {
                background-color: #ca3d26;
                border: none;
            }
            
            #about {
                background: url(../images/home_three_about_bg.png) no-repeat scroll center bottom / contain;
                width: 100%;
                position: relative;
            }
            
            .about-container {
                width: 100%;
                padding: 50px;
                box-sizing: border-box;
            }
            
            .about-head-text {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0x 50px;
                margin-bottom: 50px;
            }
            
            .about-head-text h2 {
                color: #ca3d26;
                font-size: 80px;
                text-transform: capitalize;
                font-family: "Dancing Script", cursive;
                letter-spacing: 2px;
                line-height: 0.8;
            }
            
            .about-content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 0.3px;
                line-height: 1.7em;
                margin: 0px 40px;
            }
            
            .about-content-text {
                color: #4a4d4f;
                padding: 15px;
            }
            
            .about-content-text p {
                margin: 0 0 30px;
            }
            
            .big-text {
                float: left;
                font-size: 80px;
                font-weight: 700;
                margin-bottom: -4px;
                margin-right: 10px;
                line-height: 1;
            }
            
            .about-author-sign {
                display: flex;
                justify-content: center;
                padding-top: 50px;
            }
            
            .offer-container {
                background: url(../images/promotions_area_bg_1.jpg) no-repeat fixed center center / cover;
                position: relative;
                width: 100%;
                padding: 50px 0px;
            }
            
            .offer-logo {
                padding-top: 80px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-bottom: 50px;
            }
            
            .offer-logo h2 {
                color: #ca3d26;
                font-family: "Dancing Script", cursive;
                font-size: 60px;
                letter-spacing: 2px;
                line-height: 0.8;
                margin: 0;
                padding: 10px;
                text-transform: capitalize;
            }
            
            .offer-slider {
                margin: 30px 50px;
            }
            
            .offer-slider-img {
                max-height: 450px;
                width: 65%;
                margin-left: 50px;
            }
            
            .offer-slider-img img {
                width: 100%;
                height: 450px;
            }
            
            .offer-slider-content {
                background: #fff none repeat scroll 0 0;
                color: #1a1a1a;
                height: 300px;
                max-height: 350px;
                padding: 50px;
                margin-right: 80px;
                position: absolute;
                right: 0;
                top: 46%;
                width: 35%;
                z-index: 9;
            }
            
            .offer-slider-content h3 {
                font-size: 30px;
                margin: 0 0 15px;
                font-family: "PT Sans Narrow", sans-serif;
                font-weight: 700;
            }
            
            .offer-slider-content p {
                letter-spacing: 0.3px;
                line-height: 1.7em;
            }
            
            a.read-more {
                border: 1px solid;
                color: #ca3d26;
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 2px;
                padding: 13px 23px;
                margin-top: 30px;
                text-transform: uppercase;
                transition: 0.3s;
                text-decoration: none;
            }
            
            a.read-more:hover {
                color: #fff;
                background-color: #ca3d26;
            }
            
            .menu-list ul {
                display: flex;
                justify-content: center;
            }
            
            li.active {
                background: #ca3d26 none repeat scroll 0 0;
                border-color: #ca3d26;
                color: #fff;
            }
            
            .menu-list ul li {
                border: 1px solid;
                cursor: pointer;
                display: inline-block;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
                margin: 0 4px;
                padding: 7px 10px;
                text-transform: uppercase;
                transition: all 0.3s ease 0s;
            }
            
            .menu-list ul li:hover {
                background: #ca3d26 none repeat scroll 0 0;
                border-color: #ca3d26;
                color: #fff;
            }
            
            .food-menu {
                margin: 70px;
                height: 600px;
            }
            
            .food-menu-list {
                height: 200px;
                width: 100%;
                display: flex;
                padding: 5px;
            }
            
            .single-food-menu {
                width: 50%;
                height: 100%;
                display: flex;
                border-bottom: 1px solid #E4E4E4;
                margin-bottom: 40px;
                padding: 30px;
                margin: 0px 20px;
            }
            
            .food-menu-img {
                border-radius: 50%;
                height: 100px;
                left: 0;
                overflow: hidden;
                top: 0;
                width: 100px;
                box-shadow: 0 0 0 10px #ddd;
            }
            
            .food-menu-content {
                margin-left: 30px;
                color: #1e1e1f;
                padding: 0;
                text-align: inherit;
                width: 75%;
            }
            
            table {
                width: 100%;
            }
            
            .food-menu-content h3 {
                font-size: 20px;
                margin-bottom: 8px;
                margin: 0 0 15px;
                font-family: "PT Sans Narrow", sans-serif;
                font-weight: 700;
            }
            
            .menu-price {
                color: #ca3d26;
                float: right;
            }
            
            .food-menu-content td {
                padding: 5px;
            }
            
            .reservation-container {
                color: #fff;
                font-family: "PT Sans Narrow", sans-serif;
                position: relative;
                background: rgba(0, 0, 0, 0) url(../images/promotions_area_bg_2.jpg) no-repeat fixed;
                height: 450px;
                background-position: 50% -106.4px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            
            .reservation-content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            
            .reservation-content h1 {
                font-size: 50px;
                letter-spacing: 5px;
                text-transform: uppercase;
                margin: 0 0 15px;
                font-family: "PT Sans Narrow", sans-serif;
                font-weight: 700;
            }
            
            a.reservation-button {
                background: #fff none repeat scroll 0 0;
                color: #ca3d26;
                display: inline-block;
                font-weight: 700;
                letter-spacing: 4px;
                margin-top: 20px;
                padding: 15px 20px;
                text-align: center;
                text-transform: uppercase;
                min-width: 200px;
                text-decoration: none;
                transition: all .3s ease;
            }
            
            a.reservation-button:hover {
                background: #ca3d26 none repeat scroll 0 0;
                color: #fff;
            }
            
            .team-about {
                display: flex;
                justify-content: center;
                width: 80%;
                margin-left: 130px;
            }
            
            .team-member {
                width: 20%;
                margin: 10px;
            }
            
            .team-member-img {
                position: relative;
            }
            
            .team-member-detail {
                text-align: center;
            }
            
            .team-member-detail h3 {
                transition: all 0.3s ease 0s;
                letter-spacing: 1px;
                font-size: 20px;
                margin: 0 0 15px;
                font-family: "PT Sans Narrow", sans-serif;
                font-weight: 700;
            }
            
            .team-member p {
                margin: 0 0 10px;
            }
            
            .member-social-bookmark ul {
                height: 220px;
                margin-top: -110px;
                position: absolute;
                right: 10%;
                top: 50%;
            }
            
            .member-social-bookmark ul li {
                margin: 15px 0;
            }