.flex{
    display: flex;
}
.justify-content-around{
    justify-content: space-around;
}
.text-align{
    text-align:center;
}
.color{
    color: #fff;
}
.align-items-center{
    align-items:center
}
.flex-direction{
    flex-direction:column;
}
.btn{
    
    border:2px solid #fff;
    width:120px;
    height:35px;
    display:flex;
    align-items:center;
    text-decoration: none;
    transition: all 1s ease;
    justify-content: center;
}
.btn a{
    color:#fff;
    font-size:14px;
    text-decoration: none;
    padding:20px;


}
.btn-margin{
    margin: 20px 10px;
}
.footer-item{
    left: 30%;
    width: 70%;
    max-width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
}
.footer-item p{
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}