
#about{
    color: #333;
    overflow:hidden;
    font-size: 100%;
    width:100vw;
    height:100vh;
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: url(../images/second_bg.jpg);
}
.about-items{
    position: relative;
    width: 70%;
    height: 80vh;
    left:30%;
    top: 10vh;
    bottom: 10vh;
    background: rgba(0, 0, 0, 0.5);
    overflow-y:scroll;
    display: flex;
    box-sizing: border-box;
}
.about-content{

    width:430px;
    height:540px;
    padding:40px;
    margin-bottom:50px;
    box-sizing: border-box;
}
.about-content h1{
font-weight:600;
text-transform: uppercase;
text-align: left;
color:#fff;
font-size:30px;
display:inline-block ;
border-bottom: 2px solid #fff;
padding: 8px;
}
.about-content p{
    color:#fff;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    padding:10px;
}
.about-image{
    
   height:540px;;
   width:480px;
   margin-left:30px;
 
   box-sizing: border-box;

    
}
img{
   
    
object-fit: cover;
height:100%;
width:100%;
}
.btn{
    margin: 20px 10px;
    border:2px solid #fff;
    width:120px;
    height:35px;
    display:flex;
    align-items:center; 
    transition: all 1s ease;
   
}
.btn a{
    color:#fff;
    font-size:12px;
    text-decoration: none;
    padding:20px;
}
.btn:hover{
    background-color: #fff;
    
}
.btn a:hover{
    color:#232323;
}
.footer-item{
    left: 30%;
    width: 70%;
    max-width: 70%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;

}
.footer-item p{
    text-align: center;
    font-size: 13px;
    color: #fff;
    margin-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}