body{
    margin:0 auto;

}
.head{
    border:1px solid black;
    height:200px;
    box-sizing:border-box;
   padding:20px;
   
}
.navbar{
  
    border:1px solid black;
    padding:30px;
    box-sizing: border-box;
}
.navbar h3{
    margin:0px;

}
#main{
    margin-top:50px;
}
.item1{
  
    border:1px solid black;
    box-sizing: border-box;
    padding:30px;
}
.item2{
  
    border:1px solid black;
    box-sizing: border-box;
    padding:20px;
}

.box-1 {
    border:1px solid black;
    padding:10px;
    margin:10px;
    box-sizing: border-box;
    

}
.box-2{
    border:1px solid black;
    padding:34px;
    margin:10px;
    box-sizing: border-box;
}
.article{
    border:1px solid black;
    width:100%;
    margin:20px auto;
    box-sizing: border-box;
   
}
.footer{
    margin-top:50px;
    border:1px solid black;
    padding:10px;
}
