body{
    margin:0 auto;

}
.head{
    border:1px solid black;
    height:200px;
    box-sizing:border-box;
   padding:20px;
   
}
.navbar{
  
    border:1px solid black;
    padding:30px;
    box-sizing: border-box;
}
.navbar h3{
    margin:0px;

}
#main{
    margin-top:50px;
}
.item1{
    height:200px;
    border:1px solid black;
}
.item2{
    height:200px;
    border:1px solid black;
}
.footer{
    margin-top:50px;
    border:1px solid black;
    padding:10px;
}