body{
    font-family: "Raleway", sans-serif;
}
#features{
    background-color: #e4e0e0;
   
}

.item{
   
    width:100%;
    
}
.heading{
  display: flex;
    align-items: center;
    justify-content: center;
}
.heading h1{
    text-transform: uppercase;
    font-size: 28px;
    margin:10px;
}

.text p{
    color: #859196;
    text-align: center;
    line-height: 1.7rem;
    font-size: 20px;
    margin:20px;
  
}
.item1{
    background-color: white;
   
    width:320px;
    height:380px;
     margin:10px ;
     padding:20px;
     border-radius: 4px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.item1 img{
    margin:10px auto;
}
h2{
    font-size:20px;
}
.item1 p{
    color: #859196;
    margin:20px;
    text-align: center;
    line-height: 1.7rem;
}
button{
    width:140px;
    height:40px;
    background: #4586FF;
    border-color: #4586FF;
    font-size: 13px;
    border-radius: 4px;
    font-weight: 600;
    cursor:pointer;
    margin-top:25px;
 
}a{
    text-decoration:none;
    color:white;
}
#about{
    margin:100px 0px;
    background-color: white;
}
.main{
    margin:10px;
}
.main img{
    object-fit: cover;
    width:100%;
    height:100%;
    
}
.about-text{
    margin:50px 50px;
    
}
.main h3{
    font-size:30px;
}
.main p{
    color: #859196;
    padding:40px 0px;
}
.main a{
    color:#4586FF;
}