*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: #1839;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
}
.container.middle{
    background: none;
}
ul{
    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}
#middle{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}