*{
    font-family: 'Courier New', Courier, monospace;
}
.container{
     width:1200px;
    height:400px;
    display:flex;
    justify-content: space-between;
    margin:0 auto;
   
}
.item{
    height:100%;
    width:380px;
    position: relative;
   
    
}

.item img{
    width:100%;
    height:300px;
    object-fit: cover;
}
.item h1{
  
    font-size: 20px;
    color: blue;
    text-align: center;
}
.element{
    position:absolute;
    width:70px;
    height:80px;
    background-color: green;
    display: flex;
    align-items: center;
    
}
.element h6{
    color:white;
    font-size:20px;
    text-align: center;
}